body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, black, white);
  height: 100vh;
  margin-top: 100px;
  animation: background-flash 1s infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.turns-name {
  justify-content: center;
  text-align: center;
  font-size: 24px; /* Yazı boyutu */
  font-weight: bold; /* Kalınlık */
  color: white; /* Yazı rengi */
  background-color: rgba(0, 0, 0, 0.5); ;
}

.turns-name2 {
  margin: 40px;
  font-size: 40px;
  color: bisque;
  font-weight: bold;
  text-align: center;
}
.Scoreboard-container {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  width: 245px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 25px;
  margin-right: 400px;
  
}
.score {
  padding: 3px;
  
}
.player {
  background-color: #ffabff;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.current-score {
  margin-top: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dice {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease;
  transform: rotate(45deg) scale(1.5);
  margin: 100px;
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease;
  transform: rotate(45deg) scale(1.5);
}

.dice-roll-animation {
  transform: rotate(90deg); /* Zarı 90 derece döndürelim */
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-new {
  background-color: #4caf50;
  color: white;
}

.btn-roll {
  background-color: #008cba;
  color: white;
}

.btn-add {
  background-color: #ffa500;
  color: white;
}
